<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">My Cart</h1>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        @if (isCheckOut()) {
        <div class="container">
            <div class="message-box">
                <p class="check-out-message">{{checkOutMessage()}}</p>
                <a [routerLink]="['/shop']"
                    class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                    🌵 Back to Shop
                </a>
            </div>
        </div>
        }@else {
        @if (isFinalCheckOut()) {
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">Billing details</h1>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">First Name<sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="firstName">
                                        <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
                                            class="text-danger">
                                            First Name is required and must be at least 2 characters.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Last Name<sup>*</sup></label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                        <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
                                            class="text-danger">
                                            Last Name is required and must be at least 2 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Address <sup>*</sup></label>
                                <input type="text" class="form-control" formControlName="address">
                                <div *ngIf="form.get('address')?.invalid && form.get('address')?.touched"
                                    class="text-danger">
                                    Address is required.
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Mobile<sup>*</sup></label>
                                <input type="tel" class="form-control" formControlName="mobile">
                                <div *ngIf="form.get('mobile')?.invalid && form.get('mobile')?.touched"
                                    class="text-danger">
                                    Mobile is required and must be a 10-digit number.
                                </div>
                            </div>
                            <div class="form-item">
                                <hr>
                            </div>
                            <div class="form-item">
                                <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11"
                                    placeholder="Order Notes (Optional)" formControlName="orderNotes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Products</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @for (cactus of cactusesData; track $index) {
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src={{cactus.image}} class="img-fluid rounded-circle"
                                                        style="width: 90px; height: 90px;" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">{{cactus.cactusName}}</td>
                                            <td class="py-5">{{cactus.price | currency}}</td>
                                            <td class="py-5">{{cactus.quantity}}</td>
                                            <td class="py-5">{{getPriceForCurrentCactus(cactus._id) | currency}}</td>
                                        </tr>
                                        }
                                        <tr>
                                            <th scope="row"> </th>
                                            <td class="py-5"></td>
                                            <td class="py-5"></td>
                                            <td class="py-5">
                                                <p class="mb-0 text-dark py-3">Subtotal</p>
                                                <p class="mb-0 text-dark py-3">Flat rate:</p>
                                                <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                            </td>
                                            <td class="py-5">
                                                <div class="py-3 border-bottom border-top">
                                                    <p class="mb-0 text-dark">{{getPrice() | currency}}</p>
                                                </div>
                                                <div class="py-3 border-bottom border-top">
                                                    <p class="mb-0 text-dark">{{ flatRate | currency}}</p>
                                                </div>
                                                <div class="py-3 border-bottom border-top">
                                                    <p class="mb-0 text-dark">{{(isCactusListEmpty() ? 0 :
                                                        getPriceWithShippingTaxes()) | currency }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button type="submit"
                                    class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary"
                                    [disabled]="form.invalid" [ngClass]="{'disabled-link': form.invalid}">
                                    Place Order
                                </button>
                            </div>
                            <hr>
                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button (click)="cancelOrder()" type="button"
                                    class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Cancel
                                    Order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        }@else {

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remove Cactus</th>
                    </tr>
                </thead>
                @if (cactusesDataGetLength) {
                <tbody>
                    @for (cactus of cactusesData; track $index) {
                    <tr>
                        <th scope="row">

                            <div class="d-flex align-items-center">
                                <img src={{cactus.image}} class="img-fluid me-5 rounded-circle"
                                    style="width: 80px; height: 80px;" alt>
                            </div>

                        </th>
                        <td>
                            <a [routerLink]="['/details/' + cactus._id]" class>
                                <p class="mb-0 mt-4">{{cactus.cactusName}}</p>
                            </a>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{cactus.price | currency}}</p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button (click)="minusQuantity(cactus._id)"
                                        class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0"
                                    [value]="cactus.quantity">
                                <div class="input-group-btn">
                                    <button (click)="plusQuantity(cactus._id)"
                                        class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{getPriceForCurrentCactus(cactus._id) | currency}}</p>
                        </td>
                        <td>
                            <button (click)="deleteCactus(cactus._id, cactus.cactusName)"
                                class="btn btn-md rounded-circle bg-light border mt-4">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
                }@else {
                <p class="mb-0 mt-4">There are no cactuses in catt.</p>
                }
            </table>
        </div>

        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal:</h5>
                            <p class="mb-0">{{getPrice() | currency}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Shipping</h5>
                            <div class="">
                                <p class="mb-0">Flat rate: {{ flatRate | currency}}</p>
                            </div>
                        </div>
                        <p class="mb-0 text-end">Shipping to Bulgaria.</p>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">{{(isCactusListEmpty() ? 0 : getPriceWithShippingTaxes()) | currency }}</p>
                    </div>
                    <button (click)="proceedCheckout()"
                        class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                        type="button" [ngClass]="{'disabled-link': isCactusListEmpty()}">
                        Proceed Checkout
                    </button>
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>