<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
</div>

<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Cactus shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search..." type="search"
                                class="form-control p-3" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>

                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="Cactus">Default Sorting:</label>
                            <select id="Cactus" name="fruitlist" class="border-0 form-select-sm bg-light me-3"
                                [(ngModel)]="selectedSortCriteria" (change)="onSortChange()">
                                <option value="nothing">Nothing</option>
                                <option value="price-asc">Price (Low to High)</option>
                                <option value="price-desc">Price (High to Low)</option>
                                <option value="name">Name</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Price Range</h4>
                                    <ul class="list-unstyled price-range">
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('')">🌵 All</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('under5')">🌵 Under $5</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('5to10')">🌵 $5 - $10</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('10to20')">🌵 $10 - $20</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('20to50')">🌵 $20 - $50</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('50to100')">🌵 $50 - $100</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between">
                                                <a class="nav-item nav-link" style="cursor: pointer;"
                                                    (click)="filterByPriceRange('above100')">🌵 Above $100</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                            @for (cactus of paginatedCactuses(); track $index) {
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <a [routerLink]="['/details/' + cactus._id]">
                                        <div class="fruite-img">
                                            <img src={{cactus.image}} class="img-fluid w-100 rounded-top" alt>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">{{cactus.cactusName | slice}}</div>

                                    </a>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>{{cactus.cactusName | slice}}</h4>
                                        <p>{{cactus.shortDescription}}</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">{{cactus.price | currency}}🌵</p>

                                            <a (click)="addToCart(cactus._id)"
                                                [ngClass]="{'disabled-link': isOwner(cactus)}" style="cursor: pointer;"
                                                class="btn border border-secondary rounded-pill px-3 text-primary">
                                                <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                Add to cart
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            }

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a class="rounded" (click)="goToPage(1)" style="cursor: pointer;"
                                        [class.disabled]="currentPage() === 1">&laquo;</a>
                                    <a class="rounded" style="cursor: pointer;"
                                        *ngFor="let page of [].constructor(totalPages); let i = index"
                                        (click)="goToPage(i + 1)" [class.active]="currentPage() === i + 1">
                                        {{ i + 1 }}
                                    </a>
                                    <a class="rounded" (click)="goToPage(totalPages)" style="cursor: pointer;"
                                        [class.disabled]="currentPage() === totalPages">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>