<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Details</h1>
</div>

<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">

                    @if (cactus != null) {
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href={{cactus()?.image}}>
                                <img src={{cactus()?.image}} class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        @if (isOwner()) {
                        <a [routerLink]="['/my-cactuses']"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            🌵 Go to my cactuses</a>
                        }
                        <h4 class="fw-bold mb-3">{{cactus()?.cactusName!}}</h4>
                        <p class="mb-3">Category: Type</p>
                        <h5 class="fw-bold mb-3">{{cactus()?.price | currency}}</h5>
                        <p class="mb-4">{{cactus()?.shortDescription}}</p>

                        @if (isOwner()) {
                        <a [routerLink]="['/add-cactus/' + cactus()?._id]"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            🌵 Edit Cactus</a>
                        }@else {

                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button (click)="minusQuantity()"
                                    class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0"
                                [value]="cactus()?.quantity">
                            <div class="input-group-btn">
                                <button (click)="plusQuantity()"
                                    class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <a (click)="addToCart()" [ngClass]="{'disabled-link': isOwner()}"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            🌵 Add to cart</a>
                        }
                        <a [routerLink]="['/shop']"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            🌵 Back to Shop</a>

                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Description</button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                    id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                    aria-controls="nav-mission" aria-selected="false">Reviews</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>{{cactus()?.description}}</p>
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                @for (review of reviews$ | async; track $index) {
                                <div class="d-flex">
                                    <!-- <img src="" class="img-fluid rounded-circle p-3"
                                        style="width: 100px; height: 100px;" alt=""> -->
                                    <div class="flex-grow-1">
                                        <p class="mb-2" style="font-size: 14px;">{{review.date | date}}</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>{{review.name}}</h5>
                                        </div>

                                        <div class="comment-box">
                                            <p>{{review.review}}</p>
                                        </div>
                                    </div>
                                    @if(userData?.uid === review.uid){
                                    <td><button (click)="editReview(review._id!)"
                                            class="table-responsive table btn btn-md rounded-circle bg-light border mt-4">
                                            <i class="fa fa-edit" style="color:#81C408"
                                                onMouseOver="this.style.color='#FFB524'"
                                                onMouseOut="this.style.color='#81C408'"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button (click)="removeReview(review._id!)"
                                            class="table-responsive table btn btn-md rounded-circle bg-light border mt-4">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </td>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (canAddPost()){
                    <h4 class="mb-5 fw-bold">Leave a Reply</h4>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border-bottom rounded border border-secondary">
                                <!-- <input type="text" formControlName="name" name="name" id="name"
                                    class="form-control border-0 me-4" placeholder="Your Name *">
                                    
                                    <div *ngIf="reviewForm.get('name')?.invalid && (reviewForm.get('name')?.touched || reviewForm.get('name')?.dirty)"
                                    class="text-danger">
                                    Name is required.
                                </div> -->

                                <input class="form-control border-0 me-4" type="text" id="username"
                                    value={{userData?.displayName}} readonly>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="border-bottom rounded border border-secondary">
                                <!-- <input type="email" formControlName="email" name="email" id="email"
                                class="form-control border-0" placeholder="Your Email *">
                                <div *ngIf="reviewForm.get('email')?.invalid && (reviewForm.get('email')?.touched || reviewForm.get('email')?.dirty)"
                                class="text-danger">
                                A valid email is required.
                            </div> -->

                                <input class="form-control border-0 me-4" type="email" id="email"
                                    value={{userData?.email}} readonly>
                            </div>
                        </div>

                        <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4 border border-secondary">
                                    <textarea formControlName="review" name="review" id="review"
                                        class="form-control border-0" cols="30" rows="8"
                                        placeholder="Your Review *"></textarea>
                                    <div *ngIf="reviewForm.get('review')?.invalid && (reviewForm.get('review')?.touched || reviewForm.get('review')?.dirty)"
                                        class="text-danger">
                                        Review is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <button type="submit"
                                        class="btn border border-secondary text-primary rounded-pill px-4 py-3"
                                        [disabled]="reviewForm.invalid">
                                        {{isEditMode() ? 'Edit Comment' : 'Post Comment'}}
                                    </button>
                                    
                                    @if (isEditMode()) {
                                    <button type="reset" (click)="clearEditMode()"
                                        class="btn border border-secondary text-primary rounded-pill px-4 py-3">
                                        Cancel
                                    </button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>