<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">

            <div class="profile-container">
                <div class="profile-header">
                    <h2>Profile</h2>
                    <h2 class="success">{{successMessage}}</h2>
                    <h2 class="error">{{errorMessage}}</h2>
                    <p>View and update your password</p>
                </div>

                <div class="profile-form">

                    <label for="username">Username</label>
                    <input type="text" id="username" value={{username}}
                        readonly>

                    <label for="email">Email</label>
                    <input type="email" id="email" value={{email}} readonly>
                </div>

                @if (!changePassword) {

                <form [formGroup]="form" (ngSubmit)="onSubmit()"
                    class="profile-form">
                    <div formGroupName="passGroup">

                        <label for="password">Change Password</label>
                        <div class="change-password">
                            <input type="password" placeholder="Password"
                                formControlName="password" name="password"
                                id="password" />
                        </div>
                        <div class="change-password">
                            <div
                                *ngIf="form.get('passGroup.password')?.invalid && (form.get('passGroup.password')?.touched || form.get('passGroup.password')?.dirty)"
                                class="text-danger">
                                Password is required and must be at least {{
                                passwordMinLength }} characters long.
                            </div>
                        </div>

                        <label for="password">Confirm Password</label>
                        <div class="change-password">
                            <input type="password"
                                placeholder="Confirm Password"
                                formControlName="rePassword"
                                name="rePassword" id="rePassword" />
                        </div>
                        <div class="change-password">
                            <div
                                *ngIf="form.get('passGroup.rePassword')?.invalid && (form.get('passGroup.rePassword')?.touched || form.get('passGroup.rePassword')?.dirty)"
                                class="text-danger">
                                Password is required and must be at least {{
                                passwordMinLength }} characters long.
                            </div>
                            <div
                                *ngIf="form.get('passGroup')?.hasError('matchPasswordsValidator') && (form.get('passGroup.rePassword')?.touched || form.get('passGroup.rePassword')?.dirty)"
                                class="text-danger">
                                Passwords do not match.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn"
                        [disabled]="form.invalid">Update</button>
                </form>
                }

                @if (changePassword)
                {
                <div class="profile-form">
                    <button type="button" routerLink="/home"
                        class="profile-form btn">Go Back To Home</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>